body {
  margin: 0;
  background-image: url("Golf\ green.jpg");
  background-size: cover;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  max-height: 100vh;
}

#hole-info {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(15, 16, 15),
    0 0 0.5em rgb(3, 3, 77);
}

.container {
  background: transparent;
  max-width: 80%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  border: 4px solid rgb(248, 245, 245);
  border-radius: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(241, 243, 241);
  text-shadow: 2px 2px 2px rgb(0, 0, 7);
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 1px 5px black;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(245, 246, 249);
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  letter-spacing: 1;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: radial-gradient(rgb(7, 142, 82), rgb(20, 22, 20));
  color: rgb(233, 250, 234);
  font-size: 18px;
}

#next-hole-btn {
  background: radial-gradient(rgb(2, 73, 2), rgb(53, 169, 61));
  color: rgb(233, 250, 234);
  font-size: 18px;
}

#reset-btn {
  background: radial-gradient(rgb(103, 16, 16), rgb(232, 104, 104));
  color: rgb(233, 250, 234);
  font-size: 18px;
}

#total-shots-btn {
  color: rgb(242, 248, 243);
  font-size: 18px;
  background-color: chartreuse;
}
#total-shots {
  color: rgb(233, 250, 234);
  font-size: 18px;
}
