body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-image: url("greenview.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
}
.logo {
  background-image: url("golflogo.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for the add golfshots & next hole button section */

#main {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hole-info {
  background: radial-gradient(rgb(7, 142, 82), rgb(20, 22, 20));
  color: white;
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 12px;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(35, 56, 42);
  text-shadow: 3px 1px 4px rgb(244, 244, 249);
}
#increment-count {
  display: none;
}

#increment-value {
  border-radius: 5px;
  font-size: 30px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(243, 245, 244);
  background: radial-gradient(rgb(7, 92, 54), rgb(43, 117, 43));
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  letter-spacing: 1;
  width: 200px;
  border-radius: 5px;
}

#increment-btn {
  background: radial-gradient(rgb(7, 142, 82), rgb(20, 22, 20));
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 4px rgb(218, 220, 217);
}
#increment-btn:active {
  box-shadow: 1px 0 2px rgb(39, 70, 11);
  transform: translatey(2px);
}

#next-hole-btn {
  background: radial-gradient(rgb(7, 142, 82), rgb(20, 22, 20));
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 4px rgb(218, 220, 217);
}
#next-hole-btn:active {
  box-shadow: 1px 0 2px rgb(39, 70, 11);
  transform: translatey(2px);
}
#reset {
  margin-top: 25px;
}
#reset-btn {
  background: radial-gradient(rgb(103, 16, 16), rgb(232, 104, 104));
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 4px rgb(218, 220, 217);
}
#reset-btn:active {
  box-shadow: 1px 0 2px rgb(39, 70, 11);
  transform: translatey(2px);
}

#total-shots-btn {
  color: white;
  font-size: 18px;
  background-color: rgb(64, 187, 80);
  box-shadow: 1px 1px 4px rgb(218, 220, 217);
}
#total-shots-btn:active {
  box-shadow: 1px 1px 2px rgb(39, 70, 11);
  transform: translatey(2px);
}
#total-shots {
  color: white;
  font-size: 30px;
  margin: 0;
}
